@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

:root {
  --white: #f7f1f8;
  --dark-blue: #3a6b7e;
  --light-blue: #82aeb1;
  --orange: #f39b53;
  --dark-orange: #df7620;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica;
  color: var(--white);
  background-color: var(--light-blue);
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  font-size: 1.65rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.55em 1.25em;
  background-color: var(--dark-blue);
}
.navbar h2 {
  text-transform: uppercase;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  padding: 1em;
}

.hero-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.6;
  margin-bottom: 0;
}

.hero-text {
  padding-bottom: 0.5em;
  width: 80%;
  align-self: center;
}

@media (min-width: 972px) {
  /* .hero-img {
    background-color: red;
    width: 600px;
  } */
  .hero-title {
    font-size: 3rem;
    width: 80%;
    align-self: center;
  }
  .hero-text {
    width: 50%;
    font-size: 1.3rem;
  }
}
